# Prerequisites
*.d

# Logs
*.log
*.tlog

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
practica_01/project/Debug
practica_01/project/.vs
practica_01/project/x64
cowboy/cowboy/Debug
cowboy/cowboy/.vs
pang/.vs
pang/swalib_example/x64
omega pang/.vs
omega pang/Debug
omega pang/project/Debug
OmegaPang/.vs
